{% extends "base.jinja" %}
{% block header %}
  <link href="{{ static('css/style.css') }}" rel="stylesheet">
  <link href="{{ static('css/nav.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="nav">
    <div class="left-side">
      <a class="item" href="#">Top</a>
    </div>
    <div class="right-side">
      <a class="item" href="{{ url('logout') }}">Logout</a>
      {% if user.is_authenticated %}
        <a class="item" href="#">{{ user.username }}</a>
      {% endif %}
    </div>
  </div>

  {% if distribution == 'arch' %}
    <h1>Arch Linux</h1>
  {% elif distribution == 'debian' %}
    <h1>Debian</h1>
  {% elif distribution == 'redhat' %}
    <h1>RedHat</h1>
  {% else %}
    <h1>Gentoo Linux</h1>
  {% endif %}
{% endblock %}
