#sidebar {
    height:100%;
    padding-left:0;
    background-color: #2D2D2D;
}
#sidebar ul {
    list-style-type: none;
}

#sidebar ul li {
    margin-top:20px;
    margin-bottom:20px;
}

#sidebar ul li a {
    text-decoration: none;
}